@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script type="module">
    import { hoge } from "./js/file.js";

    hoge();
</script>

<div class="text-center">
    <input type="button" value="button" onclick="do()">
</div>
