name: Build-Debug

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  build-dotnet:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: Cysharp/Actions/.github/actions/setup-dotnet@main
      - run: dotnet build -c Debug
      - run: dotnet test -c Debug --no-build

  build-unity:
    if: "((github.event_name == 'push' && github.repository_owner == 'Cysharp') || startsWith(github.event.pull_request.head.label, 'Cysharp:'))"
    # strategy:
    #   matrix:
    #     unity: ["2021.3.11f1"]
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v3
      # Execute scripts: RuntimeUnitTestToolkit
      # /opt/Unity/Editor/Unity -quit -batchmode -nographics -silent-crashes -logFile -projectPath . -executeMethod UnitTestBuilder.BuildUnitTest /headless /ScriptBackend mono /BuildTarget StandaloneLinux64
      # - name: Build UnitTest(Linux64, mono)
      #   uses: Cysharp/Actions/.github/actions/unity-builder@main
      #   env:
      #     UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
      #     UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
      #     UNITY_SERIAL: ${{ secrets.UNITY_SERIAL }}
      #   with:
      #     projectPath: src/MemoryPack.Unity
      #     unityVersion: ${{ matrix.unity }}
      #     targetPlatform: StandaloneLinux64
      #     buildMethod: UnitTestBuilder.BuildUnitTest
      #     customParameters: /headless /ScriptBackend mono
      # # Unity 2021.2 and above changed Headless mode. It seems require Dedicated Server currently and investigating alternative api to enable batch mode.
      # # - name: Execute UnitTest
      # #   run: ./src/MemoryPack.Unity/bin/UnitTest/StandaloneLinux64_Mono2x/test -batchmode

      # # Execute scripts: Export Package
      # #  /opt/Unity/Editor/Unity -quit -batchmode -nographics -silent-crashes -logFile -projectPath . -executeMethod PackageExporter.Export
      # - name: Build Unity (.unitypacakge)
      #   uses: Cysharp/Actions/.github/actions/unity-builder@main
      #   env:
      #     UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
      #     UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
      #     UNITY_SERIAL: ${{ secrets.UNITY_SERIAL }}
      #   with:
      #     projectPath: src/MemoryPack.Unity
      #     unityVersion: ${{ matrix.unity }}
      #     targetPlatform: StandaloneLinux64
      #     buildMethod: PackageExporter.Export

      - uses: Cysharp/Actions/.github/actions/check-metas@main # check meta files
        with:
          directory: src/MemoryPack.Unity

      # Store artifacts.
      - uses: actions/upload-artifact@v3
        with:
          name: MemoryPack.${{ matrix.unity }}.unitypackage
          path: ./src/MemoryPack.Unity/*.unitypackage
